body {
  font-family: Arial;
  background-color: #e7ebf0; }

#entityJumbotron {
  background-color: white; }

.project {
  width: 20rem;
  display: flex;
  flex-flow: column wrap;
}

.hidden {
  display: none; }

.employees {
  display: table; }
